
/* 
.login-page {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('https://business.twitter.com/content/dam/business-twitter/homepage-2023/section-1-alternative.jpg.twimg.1920.jpg');
    background-image: url('https://business.twitter.com/content/dam/business-twitter/homepage-2023/section-4.jpg.twimg.1920.jpg');
} */

.login-container {
    /* border-radius: 25px; */
    width: 30rem;
    margin: 8rem auto;
    /* padding: 2rem 0rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    background-color: #fff;
    border-radius: 25px;
}

.formError-warning-login {
    color: red;
    text-align: center;
}


.login-container input {
    border: none;
    background-color: var(--verylight-blue);
    height: 1.6rem;
    width: 16.5rem;
    border-radius: 5px;
    padding: 0.4rem 2rem;
    margin: 0.2rem;
}


.username-container {
    margin: 1rem;
}

.password-container-login {
    margin: 1rem;
    position: relative;
}


.show-hide {
    position: absolute;
    font-weight: 500;
    cursor: pointer;
    right: 1rem;
    top: 0.65rem;
}



.login-btn-container {
    margin-top: 1rem;
}

.login-submit-btn {
    border: none;
    width: 20rem;
    padding: 0.6rem 0rem;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: black;
    color: white;
}

.login-submit-btn:hover {
    cursor: pointer;
}

.signup-text {
    margin-top: 1rem;
    /* text-align: left; */
}

.signup-link {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
}



@media only screen and (max-width: 1024px) {
    .login-container {
        width: 20rem;
        margin: 4rem auto;
        padding: 0rem;
    }
}