.suggestionsrightaside-container-main {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    /* z-index: 10; */
    width: 20rem;
    box-sizing: border-box;
    height: 100%;

}

.search-n-result-container {
    margin-left: 25px;
    margin-top: 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
    margin-bottom: 12px;
    /* min-height: 32px; */
    /* height: 53px; */
    width: 100%;
    /* border: 2px solid; */
}

.search-n-close-cotainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(239, 243, 244);
    border-radius: 9999px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.searchresult-closer {
    font-size: 1.3rem;
    margin-right: 12px;
    cursor: pointer;
}

.search-icon {
    padding-left: 12px;
    color: rgb(83, 100, 113);
    min-width: 32px;
    height: 1.25em;
    box-sizing: border-box;
}

.search-input {
    outline: none;
    border: none;
    padding: 12px;
    background-color: rgb(239, 243, 244);
    width: 100%;
}

.searchresult-container {
    width: 100%;
    max-height: calc(80vh - 53px);
    /* max-height: 40vh; */
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    overflow-y: auto;
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
    border-radius: 8px;
    overscroll-behavior: contain;
}


.nouserfound {
    color: var(--username-color);
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
}

.searchresult-user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
}

.suggestionsrightaside-container {
    /* height: 100%; */
    width: 20rem;
    margin-right: 10px;
    /* border: 2px solid #000000; */
    /* position: sticky;
    top: 0; */
    /* z-index: 5; */
    background-color: rgb(247, 249, 249);
    border: 1px solid rgb(247, 249, 249);
    border-radius: 16px;
    margin-left: 25px;
    margin-top: 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
}

h2 {
    padding: 0px 16px;
    font-size: 20px;
}

.suggesteduser-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 12px 16px;
}


.avatar-sugg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.followbtn-name-sugg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name-username-sugg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-sugg {
    font-weight: 700;
    color: rgb(15, 20, 25);;
}

.username-sugg {
    color: var(--username-color);
}

.follow-btn-sugg-container {
    min-width: 78px;
}

.follow-btn-sugg {
    background-color: rgb(15, 20, 25);
    min-height: 32px;
    min-width: 32px;
    padding: 0px 16px;
    border-radius: 9999px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.following-btn-sugg {
    color: rgb(15, 20, 25);
    min-height: 32px;
    min-width: 32px;
    padding: 0px 16px;
    border-radius: 9999px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.following-btn-sugg:hover {
    color: red;
    border-color: rgb(244, 209, 209);
    background-color: rgb(244, 209, 209);
}
