.whats-happening-cotainer-modal {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    /* padding: 12px 1rem; */
    padding: 16px 16px;
    /* border-bottom: 1px solid var(--border-color); */
    width: 30rem;
    max-width: 38rem;
}

.createtweet-modal {
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
}

.overlay {
    position: fixed;
    /* height: 100vh;
    width: 100vw; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.closeicon {
    font-size: 2rem;
    cursor: pointer;
}