

.home-page-container {
    max-width: 38rem;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    /* border: 2px solid #000000; */
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}




.whats-happening-cotainer {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    /* padding: 12px 1rem; */
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    max-width: 38rem;
}

.avatar-container-wh {
    margin-right: 12px
}

.input-n-post-container {
    width: 100%;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: 100%;
}

.posttext-wh {
    border: none;
    text-align: left;
    height: 120px;
    box-sizing: border-box;
    padding: 12px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}

.posttext-input-container {
    border-bottom: 1px solid  rgb(223, 225, 225);
}

.media-post-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}

.img-icon {
    color: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.choose-file {
    display: none;
}

.post-btn-container-wh {
    /* margin: 1rem 0; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.post-btn-wh {
    all: unset;
    min-width: 36px;
    min-height: 36px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border-radius: 9999px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    /* color: #fff; */
    background-color: var(--primary-color);
}